body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5e5db;
}

h2, b {
  color: white;
}

.navbar {
  color: #f5e5db;
}

.navbar-brand {
  height: 80px;
}

.btn {
  border-radius: 100px;
  justify-content: center;
  border: solid rgba(36, 20, 4, 1) 1px;
  align-items: center;
  text-align: center;
  line-height: 28.1333px;
}

.btn-login {
  width: 92px;
  height: 45px;
  background-color: transparent;
}

.btn-login:active, .btn-login:hover {
  background-color: rgba(0, 0, 0, 1);
  border-color: transparent;
  color: #FCD4C4;
}

.btn-signup {
  width: 92px;
  height: 45px;
  background-color: #39a2b8;
  border-color: rgba(204, 204, 204, 1);
  color: #FFFFFF;
}

.btn-signup:active, .btn-signup:hover {
  background-color: rgba(0, 0, 0, 1);
  border-color: transparent;
  color: #FFFFFF;
}

.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/*
.card{
   height:300px;
}
*/

.card-deck {
  margin-top: 20px;
  padding: 50px;
  background-color: white;
}

.card-body {
  text-align: center;
  font-size: 20px;
}

.arrow {
  fill-opacity: 1;
  stroke-width: 0;
  stroke: #ED1566;
  stroke-opacity: 1;
  fill: #DEA087;
  pointer-events: initial;
  transform: rotate(90deg);
}

.form-row {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 500px;
}

.jumbotron{
    background-color: transparent !important;
    text-align: center;
}

.bg-cream{
    background-color: #f5e5db;
}

.img-fluid{
    width: 100%;
    margin-right: 0px;
    padding-right: 0px;
}

.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}

.chaticon{
  height: 10vh;
}

.title {
  text-align: center;
  background-color: #f5e5db;
  padding: 20px;
  height: 100%;
}
